<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard/messages"></ion-back-button>
    </ion-buttons>
    <ion-title>Créer un message</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="myForm" (ngSubmit)="createMessage()">
    <ion-item>
      <ion-label color="dark" position="floating">Titre</ion-label>
      <ion-input formControlName="title" color="dark"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="dark" position="floating">Message</ion-label>
      <ion-textarea
        formControlName="post"
        color="dark"
        placeholder="Votre message..."
        rows="15"
      ></ion-textarea>
    </ion-item>

    <ion-button type="submit" color="dark" expand="block" shape="round">
      Publier
    </ion-button>
  </form>
</ion-content>

<app-footer></app-footer>
