<ion-content>
  <form [formGroup]="myForm" (ngSubmit)="login()">
    <div class="padding">
      <div class="logo">
        <img
          src="../../assets/icon/logo_ctt_fontaine.png"
          alt="Logo du CTT Fontaine"
        />
      </div>
      <ion-item>
        <ion-label color="dark">Email</ion-label>
        <ion-input
          formControlName="email"
          color="dark"
          type="email"
          placeholder="Adresse email"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="dark">Mot de passe</ion-label>
        <ion-input
          formControlName="password"
          color="dark"
          type="password"
          placeholder="Mot de passe"
        ></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-button
          routerLink="/forgot-password"
          color="dark"
          slot="end"
          expand="block"
          fill="clear"
          shape="round"
        >
          Mot de passe oublié ?
        </ion-button>
      </ion-item>

      <ion-button
        type="submit"
        color="dark"
        fill="outline"
        expand="block"
        shape="round"
      >
        Connexion
      </ion-button>
      <ion-button
        color="dark"
        routerLink="/registration"
        expand="block"
        shape="round"
      >
        Inscription
      </ion-button>
    </div>
  </form>
</ion-content>
