<ion-header>
  <ion-toolbar>
    <ion-title>Membres du club</ion-title>
    <ion-buttons slot="start"
      ><ion-back-button defaultHref="/news"></ion-back-button
    ></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-item-sliding *ngFor="let user of users">
    <ion-item (click)="goToProfil(user.id)">
      <ion-label>
        <h2>{{user.last_name}} {{user.first_name}}</h2>
      </ion-label>
      <ion-badge color="primary">{{user.rank}}</ion-badge>
    </ion-item>

    <ion-item-options side="start" [routerLink]="[user.id]">
      <ion-item-option>
        <ion-icon slot="icon-only" name="pencil"></ion-icon>
      </ion-item-option>
    </ion-item-options>

    <ion-item-options
      side="end"
      (click)="deleteUser(user.id, user.last_name, user.first_name)"
    >
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-content>

<app-footer></app-footer>
