<ion-header>
  <ion-toolbar>
    <ion-title>Mon Calendrier</ion-title>
    <ion-buttons slot="start"
      ><ion-back-button defaultHref="/news"></ion-back-button
    ></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item button *ngFor="let item of dispos">
      <ion-label> {{item.name}} </ion-label>
      <ion-label> {{item.date | date: 'dd/MM/yyyy'}} </ion-label>
      <ion-badge
        (click)="updateDispo(item.id, item.disponibilitys.dispo)"
        slot="end"
        [color]="item.disponibilitys.dispo ? 'success' : 'danger'"
      >
        {{item.disponibilitys.dispo? 'Présent': 'Absent'}}
      </ion-badge>
    </ion-item>
  </ion-list>
</ion-content>

<app-footer></app-footer>
