ion-content {
  --ion-background-color: linear-gradient(#e7e240, #f3f9a7);
}

ion-item {
  --background: transparent;
  --ion-background-color: yellow !important;
}

.padding {
  padding: 10%;
}

.logo {
  position: relative;
}
