<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Mot de passe oublié</ion-title>
    <ion-buttons slot="start"
      ><ion-back-button defaultHref="/home"></ion-back-button
    ></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="myForm" (ngSubmit)="sendNewPassword()">
    <div class="padding">
      <div class="logo">
        <img
          src="../../assets/icon/logo_ctt_fontaine.png"
          alt="Logo du CTT Fontaine"
        />
      </div>
      <ion-item>
        <ion-label color="dark">Email</ion-label>
        <ion-input
          formControlName="email"
          color="dark"
          type="email"
          placeholder="Adresse email"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="dark">Nouveau mot de passe :</ion-label>
      </ion-item>
      <ion-item
        ><ion-input
          formControlName="password"
          color="dark"
          type="password"
          placeholder="Mot de passe"
        ></ion-input
      ></ion-item>

      <ion-button
        type="submit"
        color="dark"
        fill="outline"
        expand="block"
        shape="round"
      >
        Confirmer le changement
      </ion-button>
    </div>
  </form>
</ion-content>
